<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>

        <style>
            .wrapper {
                height: 100%;
                width: 100%;
                position: absolute;
                text-align: center;
            }
            .chat_area {
                top: 25%;
                position: relative;
            }
        </style>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="chat_area">
                <textarea id="chat-log" cols="50" rows="25"></textarea><br />
                <input id="chat" type="text" size="47" />
                <input id="submit" type="button" value="▶" />
            </div>
        </div>
        {% csrf_token %}
        {% load static %}
        <script src="{% static 'chat_room_handler.js' %}"></script>
    </body>
</html>
